img[cid] {
	width: 70px;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: initial;
	box-sizing: initial;
}
/*
 *  To show a card, simply use <img> with the cid (card id) attribute.
 *  E.g. <img cid='AS'/>
 */
img[cid='AS'] { content: url(images/AS.svg) }
img[cid='2S'] { content: url(images/2S.svg) }
img[cid='3S'] { content: url(images/3S.svg) }
img[cid='4S'] { content: url(images/4S.svg) }
img[cid='5S'] { content: url(images/5S.svg) }
img[cid='6S'] { content: url(images/6S.svg) }
img[cid='7S'] { content: url(images/7S.svg) }
img[cid='8S'] { content: url(images/8S.svg) }
img[cid='9S'] { content: url(images/9S.svg) }
img[cid='TS'] { content: url(images/10S.svg) }
img[cid='10S'] { content: url(images/10S.svg) }
img[cid='JS'] { content: url(images/JS.svg) }
img[cid='QS'] { content: url(images/QS.svg) }
img[cid='KS'] { content: url(images/KS.svg) }
img[cid='AH'] { content: url(images/AH.svg) }
img[cid='2H'] { content: url(images/2H.svg) }
img[cid='3H'] { content: url(images/3H.svg) }
img[cid='4H'] { content: url(images/4H.svg) }
img[cid='5H'] { content: url(images/5H.svg) }
img[cid='6H'] { content: url(images/6H.svg) }
img[cid='7H'] { content: url(images/7H.svg) }
img[cid='8H'] { content: url(images/8H.svg) }
img[cid='9H'] { content: url(images/9H.svg) }
img[cid='TH'] { content: url(images/10H.svg) }
img[cid='10H'] { content: url(images/10H.svg) }
img[cid='JH'] { content: url(images/JH.svg) }
img[cid='QH'] { content: url(images/QH.svg) }
img[cid='KH'] { content: url(images/KH.svg) }
img[cid='AD'] { content: url(images/AD.svg) }
img[cid='2D'] { content: url(images/2D.svg) }
img[cid='3D'] { content: url(images/3D.svg) }
img[cid='4D'] { content: url(images/4D.svg) }
img[cid='5D'] { content: url(images/5D.svg) }
img[cid='6D'] { content: url(images/6D.svg) }
img[cid='7D'] { content: url(images/7D.svg) }
img[cid='8D'] { content: url(images/8D.svg) }
img[cid='9D'] { content: url(images/9D.svg) }
img[cid='TD'] { content: url(images/10D.svg) }
img[cid='10D'] { content: url(images/10D.svg) }
img[cid='JD'] { content: url(images/JD.svg) }
img[cid='QD'] { content: url(images/QD.svg) }
img[cid='KD'] { content: url(images/KD.svg) }
img[cid='AC'] { content: url(images/AC.svg) }
img[cid='2C'] { content: url(images/2C.svg) }
img[cid='3C'] { content: url(images/3C.svg) }
img[cid='4C'] { content: url(images/4C.svg) }
img[cid='5C'] { content: url(images/5C.svg) }
img[cid='6C'] { content: url(images/6C.svg) }
img[cid='7C'] { content: url(images/7C.svg) }
img[cid='8C'] { content: url(images/8C.svg) }
img[cid='9C'] { content: url(images/9C.svg) }
img[cid='TC'] { content: url(images/10C.svg) }
img[cid='10C'] { content: url(images/10C.svg) }
img[cid='JC'] { content: url(images/JC.svg) }
img[cid='QC'] { content: url(images/QC.svg) }
img[cid='KC'] { content: url(images/KC.svg) }
img[cid='red_back'] { content: url(images/red_back.svg) }
img[cid='blue_back'] { content: url(images/blue_back.svg) }

/*
 * A hand is an ordered list of cards.
 * E.g. <ol class="hand">
 *		  <li><img cid="AS"></li>
 *        <li><img cid="KS"></li>
 *      </ol>
 */
ol.hand {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ol.hand li img[cid] { 
	cursor: pointer;
}

/*
 * A horizontal hand, class="hand hhand".  The enitire card is visible.
 */
ol.hhand li {
	display: inline-block; 
}
ol.hhand li img[cid] { 
	padding-top: 10px;
}
ol.hhand li img[cid]:hover { 
	padding-top: 0px;
	padding-bottom: 10px;
}

/*
 * A compact horizontal hand.  Only the last card is entirely visible.
 */
ol.hhand-compact li { 
	display: inline-block; 
}
ol.hhand-compact li:first-child img[cid] { 
	margin-left: 0px;
	padding-top: 10px;
	cursor: pointer;
}
ol.hhand-compact li img[cid] { 
	margin-left: -52px;
	padding-top: 10px;
}
ol.hhand-compact li img[cid]:hover { 
	padding-top: 0px;
	padding-bottom: 10px;
}

/*
 * A compact vertical hand.  Only the last card is entirely visible.
 */
ol.vhand-compact {
	display: inline-block;
	vertical-align: top;
}
ol.vhand-compact li:first-child img[cid] { 
	margin-top: 0px;
	padding-right: 10px;
	cursor: pointer;
}
ol.vhand-compact li img[cid] { 
	margin-top: -90px;
	padding-right: 10px;
}
ol.vhand-compact li img[cid]:hover { 
	padding-right: 0px;
	padding-left: 10px;
}

/*
 * A fanned hand.  Only the last card is entirely visible.
 */
ol.fan {
	display: inline-block;
	vertical-align: top;
	position: relative;
}
ol.fan li { 
	display: inline-block; 
}
ol.fan li img[cid] { 
	position: absolute;
	width: 90px;
}
